/*specify the font */
body {
    font-family: Arial;
    margin: 20px;
}

/*ensure h1 and h3 tags are center-aligned*/
h1, h3 {
   text-align: center; 
}

/*ensure h2 tags are left-aligned*/
h2 {
    text-align: left;
}

/*specify the table attributes*/
table {
    width: 500px;
    border: 1px solid darkgray;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}

/*top row of table should be blue*/
th {
    background-color: lightblue;
}

/*flex box attributes*/
.flex {
    display: flex;
    justify-content: space-evenly;
}

.col {
    width: 100%
  }

img {
    max-width: 100%;
    max-height: 100%;
}

.list-item {
    text-align: left;
    color: darkgreen;
}

#decoration {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

circle {
    opacity: 50%;
    fill: darkolivegreen;
}

rect {
    fill: blueviolet;
}
 
/*what happens when there is a hover over the shape*/
circle:hover {
    stroke: black;
    stroke-width: 5px;
}

rect:hover {
    fill: black;
}