body {
    font-family: Arial;
    margin: 50px;
}

h1, h3 {
   text-align: center; 
}

h2 {
    text-align: left;
}

table {
    width: 500px;
    border: 1px solid darkgray;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}

th {
    background-color: lightblue;
}

.flex {
    display: flex;
    align-items: center;
    width: 100%;
}

.col {
    flex: 50%;
  }

.list-item {
    text-align: left;
    color: darkgreen;
}

#decoration {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

circle {
    opacity: 50%;
    fill: darkolivegreen;
}

rect {
    fill: blueviolet;
}
  
circle:hover {
    stroke: black;
    stroke-width: 5px;
}

rect:hover {
    fill: black;
}