body {
    font-family: Arial;
    margin: 50px;
}

h1, h3 {
   text-align: center; 
}

h2 {
    text-align: left;
}

table {
    width: 300px;
    border: 1px solid darkgray;
    border-collapse: collapse;
    text-align: center;
}

th {
    background-color: lightblue;
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

.col {
    display: flex;
    flex-direction: column;
    flex: 2;
  }

.list-item {
    text-align: left;
    color: darkgreen;
}

circle {
    opacity: 50%;
    fill: darkolivegreen;
}

rect {
    stroke: blue;
    fill: blueviolet;
    stroke-width: 8px;
}
  
circle:hover {
    stroke: black;
    stroke-width: 5px;
}

rect:hover {
    fill: black;
}